<DOCTYPE html>
<head>
	<title>Form</title>
</head>
<body>
	<form method="POST" action="">
		<input type="text" name="firstname" placeholder="First Name"><br/>
		<input type="text" name="lastname" placeholder="Last Name"><br/>
		<input type="radio" name="sex" value="male">Male<br/>
		<input type="radio" name="sex" value="female">Female<br/>
		<input type="submit" value="Submit"><br/>
	</form>
</body>